# ignore editor files
*~

# ignore latex files
*.aux
*.log
*._log
*.vim
*.glo

# ignore compiled files
thesis.glo 
thesis.bbl
thesis.blg
thesis.ist
thesis.lof
thesis.lot
thesis.out
thesis.pdf
thesis.toc

# ignore templates
template/*

