# ignore editor files
*~

# ignore latex files
*.aux
*.log
*._log
*.vim
*.glo
*.swp
*.bak


# ignore compiled files
*.glsdefs
*.glo 
*.bbl
*.blg
*.ist
*.lof
*.lot
*.out
*.pdf
*.toc

# ignore templates
template/*
